{% extends 'base.html' %}
{% block content %}
<!--Page-->
            <!-- Header-->
            <header class="py-5" style="background: rgb(207,194,255); background: linear-gradient(45deg, rgba(207,194,255,1) 0%, rgba(255,194,194,1) 100%);">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center text-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="py-5 text-center text-xl-start">
                                <h1 class="text-sm fs-n5 fw-bolder text-black mb-2">Crafted with care, played with joy.</h1>
                            </div>
                            <a class="btn btn-primary btn-lg me-sm-3" href="#features"> More </a>
                            </div>

                    </div>
                    </div>
                </div>
            </header>
            <!-- Features section-->
            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">새롭지만 더 좋은</h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                                    <h2 class="h5">빠른 개발 주기</h2>
                                    <p class="mb-0">고객이 즐길 수 있는 더 다양한 게임을 제공하기 위해 빠른 개발 주기를 가지고 있습니다.</p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                                    <h2 class="h5">간단한 조직, 좋은 게임</h2>
                                    <p class="mb-0">좋은 게임을 만들 수 있는 최소한의 조직으로 구성되어 있습니다.</p>
                                </div>
                                <div class="col mb-5 mb-md-0 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                    <h2 class="h5">누구나 할 수 있는 게임</h2>
                                    <p class="mb-0">복잡한 규칙과 조작보다는 순수한 재미에 초점을 맞춥니다.</p>
                                </div>
                                <div class="col h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                    <h2 class="h5">충실한 스토리</h2>
                                    <p class="mb-0">게임의 본질인 재미와 견고하에 이어진 스토리를 선보입니다.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Testimonial section-->
            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">"최고의 게임은 최대의 게임이 아닙니다. 누구나 할 수 있는 작고 즐거운 게임을 만듭니다. 게임의 본질인 플레이에서의 재미와 견고한 스토리에서 얻어지는 몰입을 동시에 느낄 수 있는 게임을 만듭니다."</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="fw-bold">
                                        팀 목표
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            {% if not user.is_authenticated %}
            <!-- Call to action-->
                    <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                        <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                            <div class="mb-4 mb-xl-0">
                                <div class="fs-3 fw-bold text-white">New products, delivered to you.</div>
                                <div class="text-white-50">Sign up for our newsletter for the latest updates.</div>
                            </div>
                            <div class="ms-xl-4">
                                <div class="input-group mb-2">
                                    <input class="form-control" type="text" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter" />
                                    <a href="{% url 'accounts:signup' %}">
                                        <button class="btn btn-outline-light" id="button-newsletter" type="button">Sign up</button>
                                    </a>     
                                    </div>
                                <div class="small text-white-50">We care about privacy, and will never share your data.</div>
                            </div>
                        </div>
                    </aside>
                    {% endif %}
                </div>
                
{% endblock %}